/* Основной цвет текста - #434455  */

/*  цвет  заголовка - #2E2F42 */

/* Фоновый цвет - #E5E5E5 */

/* Фоновый цвет 2 - #F4F4FD */

/* Акцент -  #4D5AE5 */

/* Белый - #ffff */

/* Лого футер цвет - #F4F4FD */

/*button active color - 404BBF */

/* Абзац  футер цвет - #E7E9FC */

:root {
--primary-text-color: #434455;
--title-text-color: #2E2F42;
--accent-color: #4D5AE5;
--primary-background-color: #E5E5E5;
--secondary-background-color: #F4F4FD;
--white-color: #FFFFFF;
--secondary-accent-color:#E7E9FC;
--button-active-color: #404BBF;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
color: var(--primary-text-color);
font-family: Roboto,sans-serif;
font-size: 16px;
letter-spacing: 0.02em;
line-height: 1.5;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	width: 1158px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.section-no-padding{
	padding-top: 0;
	padding-bottom: 120px;
}
/* Header */

.page-header {
background-color: var(--white-color);
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.logo {
color: var(--title-text-color);
font-family: Raleway;
text-transform: uppercase;
font-weight: 800;
text-decoration: none;	
line-height: 1.3;
letter-spacing: 0.03em;
font-size: 18px;
}

.logo-firstpart {
color: var(--accent-color);
}

/* Site Nav */
.main-nav {
	display: flex;
}

.nav-container {
display: flex;
align-items: center;

}
.site-nav.list {
display: flex;
margin-left: 77px;
}

.site-nav .item:not(:last-child) {
	margin-right: 40px;
}

.site-nav .link {
	display: block;
	padding-top:24px ;
	padding-bottom:24px ;
color: var(--title-text-color);
font-weight: 600;
text-decoration: none;
font-style: normal;
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--primary-text-color);
}

.site-nav .link:active {
color: var(--accent-color);
}

/* Contacts-nav */

.contacts-container {
	margin-left: auto;
}

.contacts.list {
display: flex;
}

.contacts.list .item + .item {
	margin-left: 40px;
}

.contacts .link {
	display: block;
		padding-top: 24px;
		padding-bottom: 24px;
color: var(--primary-text-color);
text-decoration: none;
font-style: normal;
}

.contacts .link:hover,
.contacts .link:focus {
color: var(--accent-color);
}

/* Hero */

.hero {
padding: 192px 0;
text-align: center;
background-color: var(--title-text-color);
}

.hero-title {
margin-top: 0;
margin-left: auto;
margin-right: auto;
width: 492px;
color: var(--white-color);
font-weight: 600;
font-size: 56px;
line-height: 1.07;
}

.hero-button {
display: inline-block;
min-width:170px;
padding: 16px 32px;

background-color:  var(--accent-color);
color: var(--white-color);
font-weight: 600;
line-height: 1.2;
letter-spacing: 0.04em;
cursor: pointer;
border-radius: 4px;
border: transparent;
}

.hero-button:active {
background-color:var(--button-active-color);
}

/* Advantages */

.advantages h2{
	margin: 0;
}

.advantages p{
	margin:0;
	width: 264px;
}

.advantages.list,
.products.list,
.team.list {
	display: flex;
}

.advantages .item:not(:last-child) {
margin-right: 24px;
}
.advantages-title{
margin-top: 0px;
margin-bottom: 8px;
color: var(--title-text-color);
font-weight: 600;
line-height: 1.2;
font-size: 20px;

}

/* Products */

.products .item:not(:last-child) {
	margin-right: 24px;
}

.section-title {
	margin-top: 0px;
		margin-bottom: 72px;

	color:var(--title-text-color);
	font-size: 36px;
	text-transform: capitalize;
	text-align: center ;
	line-height: 1.11;
	font-weight: 600;
}

.title {
	color: var(--title-text-color);
	font-weight: 600;
	line-height: 1.2;
	font-size: 20px;
}

/* Team */

.section.team p ,
.section-examples p{
	margin-top: 0;
	margin-bottom: 0;

}


.team {
background-color: var(--secondary-background-color);
text-align: center;
}

.team.list li,
.examples.list li {
	padding-bottom: 32px;

}

.team.list .item:not(:last-child){
	margin-right: 24px;
}

.team.list .item  {
width: 264px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--white-color);
}
.section-subtitle {
margin: 0;
padding-top: 32px;
padding-bottom: 8px;
color: var(--title-text-color);
font-weight: 600;
line-height: 1.2;
font-size: 20px;
}


/* Footer */

.footer{
background-color: var(--title-text-color);
padding-top: 100px;
padding-bottom: 100px;
}


/*  footer logo */

.logo-footer {
	display: inline-block;
line-height: 1.16;
margin-top: 0;
margin-bottom: 16px;

color: var(--title-text-color);
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 800;
	text-decoration: none;
	letter-spacing: 0.03em;
	font-size: 18px;
}


.logo-lastpart {
color: var(--secondary-background-color)

}
.footer p {
	margin:0;	
		width: 264px;
color: var(--secondary-accent-color);
}

/* PORTFOLIO.html */

/* Examples nav */
.section-examples {
	padding-top: 96px;
	padding-bottom: 120px;
}

.examples-nav {
	display: flex;
justify-content: center;
}

.examples-nav button {
	padding: 12px 24px;
background-color: var(--secondary-background-color);
color: var(--accent-color);
font-family: Roboto;
font-weight: 600;
line-height: 1.5;
border: 1px solid var(--secondary-accent-color);
border-radius: 4px;
cursor: pointer;
letter-spacing: 0.04em;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-nav .item:not(:last-child){
	margin-right:24px;
}

.examples-nav button:hover,
.examples-nav button:focus
{
background-color: var(--accent-color);
color: var(--white-color);
}

.examples-nav.list{
margin-bottom: 72px;
}

/* Examples */

.examples.list {
	display: flex;
	flex-wrap: wrap;
	
}
.section-examples h1 {
	margin: 0;
}
.examples.list h2 {
margin-left: 16px;
}

.examples.list .item:nth-last-child(-n + 3){
margin-bottom: 0;

}
.examples.list .item:nth-child(3n){
	margin-right: 0;
}
.examples.list .item {
	margin-right: 24px;
	margin-bottom: 48px;
	width: 360px;
	border: 0.5px solid var(--secondary-background-color);
		box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
background-color: var(--white-color);
}

.examples.list a {
text-decoration: none;
font-style: normal;
}

.examples.list p {
	margin-left: 16px;
color: var(--primary-text-color);

}


