/* Основной цвет текста - #434455  */

/*  цвет  заголовка - #2E2F42 */

/* Фоновый цвет - #E5E5E5 */

/* Фоновый цвет 2 - #F4F4FD */

/* Акцент -  #4D5AE5 */

/* Белый - #ffff */

/* Лого футер цвет - #F4F4FD */

/*button active color - 404BBF */

/* Абзац  футер цвет - #E7E9FC */

:root {
--primary-text-color: #434455;
--title-text-color: #2E2F42;
--accent-color: #4D5AE5;
--primary-background-color: #E5E5E5;
--secondary-background-color: #F4F4FD;
--white-color: #FFFFFF;
--secondary-accent-color:#E7E9FC;
--button-active-color: #404BBF;
--brand-icon-color: #8E8F99;
--footer-icon-hover:#31D0AA;
--modal-window-color:#FCFCFC;
--form-text-color: #757575;
}

.visually-hidden {
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;

white-space: nowrap;
clip-path: inset(100%);
}

body {
color: var(--primary-text-color);
font-size: 16px;
font-family: Roboto,sans-serif;
line-height: 1.5;
letter-spacing: 0.02em;
}

img {
display: block;
max-width: 100%;
height: auto;
}

button {
	cursor: pointer;
}

.list {
margin: 0;
padding: 0;
list-style: none;
}

.container {
width: 1158px;
margin-right: auto;
margin-left: auto;
padding: 0 15px;
}

.section {
padding-top: 120px;
padding-bottom: 120px;
}

.section-no-padding{
padding-top: 0;
padding-bottom: 120px;
}
/* Header */

.page-header {
	border-bottom:  1px solid var(--secondary-accent-color);
	background-color: var(--white-color);
}


.logo {
color: var(--title-text-color);
font-weight: 800;
font-size: 18px;
font-family: Raleway;	
line-height: 1.3;
letter-spacing: 0.03em;
text-decoration: none;
text-transform: uppercase;
}

.logo-firstpart {
color: var(--accent-color);
}

/* Site Nav */
.main-nav {
display: flex;
}

.nav-container {
display: flex;
align-items: center;

}
.site-nav.list {
display: flex;
margin-left: 77px;
}

.nav-link.active::after,
.nav-link:hover::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
display: block;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--button-active-color);
}

.nav-item:not(:last-child) {
margin-right: 40px;
}


.nav-link {
	position: relative;
display: block;
padding-top:24px ;
padding-bottom:24px ;
color: var(--title-text-color);
font-weight: 600;
font-style: normal;
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
color: var(--button-active-color);
}

.nav-link.active {
	color: var(--button-active-color)
}

.site-nav .nav-link:active {
color: var(--accent-color);
}

/* Contacts-nav */

.contacts-container {
margin-left: auto;
}

.contacts.list {
display: flex;
}

.contacts.list .contacts-item + .contacts-item {
margin-left: 40px;
}

.contacts-link {
display: block;
padding-top: 24px;
padding-bottom: 24px;
color: var(--primary-text-color);
font-style: normal;
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
color: var(--button-active-color);
}

/* Hero */

.hero {	
	max-width: 1440px;
height: 600px;
	margin-right: auto;
	margin-left: auto;
padding: 188px 0;
background-color: var(--title-text-color);
background-image: linear-gradient(to right,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
url("../images/hero/hero.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
text-align: center;
}

.hero-title {
width: 494px;
margin-top: 0;
margin-right: auto;
margin-left: auto;
color: var(--white-color);
font-weight: 600;
font-size: 56px;
line-height: 1.07;
}

.hero-button {
display: inline-block;
min-width:170px;
padding: 16px 32px;
border: transparent;
border-radius: 4px;
background-color:  var(--accent-color);
color: var(--white-color);
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.04em;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
border-radius: 4px;
background-color: var(--button-active-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/* Advantages */

.advantages h2{
margin: 0;
}

.advantages p{
width: 264px;
margin:0;
}

.advantages.list,
.products.list,
.team.list {
display: flex;
}

.advantages .advantages-item:not(:last-child) {
margin-right: 24px;
}

.advantages-title{
margin-top: 0px;
margin-bottom: 8px;
color: var(--title-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}

.bg-advantages {
	display: flex;
	justify-content: center;
	align-items: center;
height: 112px;
margin-bottom: 8px;
border-radius: 4px;
background-color: var(--secondary-background-color);
}

.icon-advantages {
width: 60px;
height: 64px;

}


/* Products */

.products .products-item:not(:last-child) {
margin-right: 24px;
}

.section-title {
margin-top: 0px;
margin-bottom: 72px;

color:var(--title-text-color);
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center ;
text-transform: capitalize;
}

.title {
color: var(--title-text-color);
font-weight: 600;
font-size: 20px;
line-height: 1.2;
}

/* Team */
.social.list {
display: flex;
justify-content: center;
margin-top: 8px;
}

.social-item:not(:last-child) {
	margin-right: 24px;
}

.icon-team {
width: 16px;
height: 16px;

}

.social-item {
width: 40px;
height: 40px;
}

.team-link {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: var(--accent-color);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
background-color: var(--button-active-color);
}

.section.team p {
margin-top: 0;
margin-bottom: 8px;

}


.team {
background-color: var(--secondary-background-color);
text-align: center;
}

.team.list .team-item {
padding-bottom: 32px;

}

.team.list .team-item:not(:last-child){
margin-right: 24px;
}

.team-item  {
width: 264px;
border-radius: 0px 0px 4px 4px;
background-color: var(--white-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-subtitle {
margin: 0;
margin-top: 32px;
margin-bottom: 8px;
color: var(--title-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}


/* Brand */
.brand.list {
display: flex;
}

.section.brand {
padding-top: 130px;
}

.brand-item {
width: 168px;

}

.brand-item:not(:last-child) {
margin-right: 24px;
}

.brand-link {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 88px;
border: 1px solid var(--brand-icon-color);
border-radius: 4px;
fill: var(--brand-icon-color);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.brand-link:hover,
.brand-link:focus {
border-color: var(--button-active-color);
fill: var(--button-active-color);

}

.icon-brand {
width: 104px;
height: 56px;

}

/* .icon-brand:hover,
.icon-brand:focus {
fill: var(--button-active-color);

} */

/* Footer */

.footer{
padding-top: 100px;
padding-bottom: 100px;
background-color: var(--title-text-color);
}

.footer-container {
display: flex;
width: 1158px;
margin-right: auto;
margin-left: auto;padding: 0 15px;
}

.footer-list {
display: flex;
}

.footer-title {
margin: 0;
margin-bottom: 16px;
color: var(--white-color);
font-weight: 500;
}

.footer-link {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}
.footer-link:hover,
.footer-link:focus {
background-color: var(--footer-icon-hover);

}
.footer-item{
width: 40px;
height: 40px;

}

.footer-item:not(:last-child) {
margin-right: 16px;
}


.footer-social {
margin-left: 120px;

}

.icon-footer {
width: 24px;
height: 24px;
}

.icon-plain {
width: 24px;
height: 24px;
margin-left: 16px;
fill: var(--white-color);
}

.footer-button {
display: flex;
justify-content: center;
align-items: center;
padding: 8px 24px;
border-color: transparent;
border-radius: 4px;
background-color: var(--accent-color);
	color: var(--white-color);
font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-button:active {
	background: #404BBF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input {
	width: 264px;
	margin-right: 24px;
	padding-left: 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	background-color: transparent;
	color: var(--white-color);
	outline: none;
	caret-color: var(--white-color);
}

.footer-input::placeholder {
	color: rgba(255, 255, 255, 0.6);
font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
}

.footer-form-container{
	display: flex;
	flex-direction: column;
	margin-left: 80px;
}


.footer-form {
display: flex;
height: 40px;
}

.footer-form-title {
	margin-top: 0;
	margin-bottom: 16px;
		color: var(--white-color);
	font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em
}

/*  footer logo */

.logo-footer {
display: inline-block;
margin-bottom: 16px;


color: var(--title-text-color);
font-weight: 800;
font-size: 18px;
font-family: Raleway;
line-height: 1.16;
letter-spacing: 0.03em;
text-decoration: none;
text-transform: uppercase;
}

.logo-lastpart {
color: var(--secondary-background-color)

}

.footer-text {	
width: 264px;
margin:0;
color: var(--secondary-accent-color);
}

/* PORTFOLIO.html */

/* Examples nav */
.section-examples {
padding-top: 96px;
padding-bottom: 120px;
}

.examples-nav {
display: flex;
justify-content: center;
}

.examples-nav button {
padding: 12px 24px;
border: 1px solid var(--secondary-accent-color);
border-color: transparent;
border-radius: 4px;
background-color: var(--secondary-background-color);
color: var(--accent-color);
font-weight: 600;
font-family: Roboto;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.examples-nav button:hover,
.examples-nav button:focus {
background-color: var(--button-active-color);
	color: var(--white-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-nav .item:not(:last-child){
margin-right:24px;
}


.examples-nav.list{
margin-bottom: 72px;
}

/* Examples */

.examples.list {
display: flex;
flex-wrap: wrap;
	
}

.examples-link {
	display: block;
text-decoration: none;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.examples-link:hover,
.examples-link:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-link:hover .overlay-examples,
.examples-link:focus .overlay-examples {
	transform: translateX(0);
}

.examples p {
margin: 0;
color: var(--primary-text-color);

}

.thumb-top {
	position: relative;
	overflow: hidden; 		
}

.thumb-bottom {
	padding: 32px 0 32px 16px;
	border: 1px solid var(--secondary-accent-color);

}

.overlay-examples {
position:absolute;
top:0;
bottom: 0;
width: 100%;
height: 100%;
padding: 40px 32px 164px;
background-color: var(--accent-color);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(100%);
}


.overlay-examples .overlay-text {
	color: var(--secondary-background-color);
	
}

.examples.list .examples-item:nth-last-child(-n + 3){
margin-bottom: 0;

}

.examples.list .examples-item:nth-child(3n){
margin-right: 0;
}

.examples-item {
width: 360px;
margin-right: 24px;
margin-bottom: 48px;
background-color: var(--white-color);
}

.examples-subtitle {
margin-top: 0;
		margin-bottom: 8px;
		color: var(--title-text-color);
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
}

/* Modal */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.1);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 408px;
	height: auto;
	padding: 72px 24px 24px;
	background-color: var(--modal-window-color);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transform: translate(-50%, -50%) scale(1);
}

.modal-button {
	position: absolute;
	top: 24px;
	right: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: var(--secondary-accent-color);
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

.modal-button:active,
.modal-button:hover,
.modal-button:focus {
	background-color: var(--button-active-color);
	fill: var(--white-color);
}

.modal-button:active .icon-modal {
	fill: var(--white-color);
}

.icon-modal {
	width: 8px;
	height: 8px;

}

/* Form */

.form-label {
	display: flex;
	flex-direction: column;
}

.form-title {
	margin: 0;
	margin-bottom: 14px;
	color:var(--title-text-color);
font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
text-align: center;
}

.form-item {
margin-top: 8px;
margin-bottom: 8px;
}


.form-link,
.form-link:active {
	margin-left: 4px;
	color:var(--accent-color);
}

.form-label[for="user-name"], 
.form-label[for="user-tel"],
.form-label[for="user-email"],
.form-label[for="user-comment"] {
	margin-bottom: 4px;
color:var(--brand-icon-color);
font-size: 12px;
	line-height: 1.16;
letter-spacing: 0.01em;
}


.form-item>.form-label[for="user-name"],
.form-label[for="form-input-checkbox"] {
	letter-spacing:0.04em;
}


.form-textarea::placeholder {
position: absolute;
top:8px;
left: 16px;
color: rgba(117, 117, 117, 0.5);

font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
}

.form-textarea {
	display: block;
	width: 100%;
	height: 120px;
		margin-right: auto;
	margin-left: auto;
	padding-top: 6px;
	padding-left: 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;
	outline: none;
	resize:none;
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.form-textarea:focus {
border: 1px solid var(--accent-color);
}

.textarea-container{
	position: relative;
}

.form-input {
	width: 100%; 
	height: 40px;
	padding-left: 38px;
	border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;
	outline: none;
		transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
	border: 1px solid var(--accent-color);
	
}

.form-input:focus + .icon-form.name, 
.form-input:focus + .icon-form.phone,
.form-input:focus + .icon-form.email {
fill: var(--accent-color);

}

.form-button {
	display: block;
	width: 169px;
		height: 56px;
	margin-right: auto;
	margin-left: auto;
	padding: 16px 32px;
	border-color: transparent;
	border-radius: 4px;
	background-color: var(--accent-color);
	color: var(--white-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
   letter-spacing: 0.04em;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.form-button:active,
.form-button:hover,
.form-button:focus {
background: #404BBF;
}

.icon-form {
position: absolute;
	bottom: 8px;
	left: 16px;
	display: inline-block;
	fill: var(--title-text-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form.name {
	bottom:11px;
	width: 18px;
	height: 18px;
}
.icon-form.phone,
.icon-form.email {
	width: 18px;
	height: 24px;

}

.form-field.name,
.form-field.phone,
.form-field.email {
	position: relative;
}


.form-input-checkbox {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}


.form-label[for="form-input-checkbox"] {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 16px;
		margin-bottom: 24px;
	color: var(--form-text-color);
	font-size: 12px;
		user-select: none;
}

.icon-checkbox {
	width: 16px;
	height: 16px;
	margin-right: 8px ;
	border: 1.25px solid var(--title-text-color);
	border-radius: 2px;
	fill: transparent;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}

.form-input-checkbox:checked + .icon-checkbox {
padding: 3px 4px;
border: transparent;
background-color:var(--button-active-color);
fill:var(--secondary-background-color);
}

